# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# folder
src/pages/schedule/
src/pages/test/
JSON Examples/

# notifications
src/components/NotificationsContainer
src/styles/NotificationsContainer.css

# images
public/img/homepagebanner.jpg
public/img/osu!lazertexture.svg

# manifest
public/img/manifest
public/img/manifest/manifesticon.png
public/img/manifest/manifesticon.psd

# sitemap
src/pages/api/sitemap.js

# Auto Generated PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map