.playstyleContainer {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.tabletAreaContainer {
  height: 15em;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 1.6em 0 0 0;
}

.tabletArea {
  width: max-content;
  border: 1px solid var(--site-colorful-primary-color);
  position: relative;
}

.tabletArea .name {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: -22px;
  color: var(--site-colorful-primary-color);
  font-family: var(--font-family-var);
  font-size: 10pt;
  user-select: none;
  font-weight: 400;
}

.tabletUsedArea {
  position: absolute;
  outline: 1px dashed var(--site-colorful-primary-color);
  background-color: hsla(215, 78%, 67%, 0.2);
  color: var(--site-colorful-primary-color);
  font-family: var(--font-family-var);
  font-size: 0.7rem;
  user-select: none;
  box-sizing: border-box;
}

.tabletUsedArea .width {
  position: absolute;
  width: 100%;
  top: 2px;
  display: flex;
  justify-content: center;
}

.tabletUsedArea .height {
  position: absolute;
  height: 100%;
  left: 2px;
  display: flex;
  align-items: center;
}

.tabletUsedArea .coordinates {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 1px;
}

/* .tabletUsedArea .coordinates::after {
  content: "·";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
} */

.playstyleContainer .info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.playstyleContainer .info .item {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  gap: 2px;
}

.playstyleContainer .info .item .type {
  font-size: 10.6pt;
  font-weight: 500;
  color: #cee0f6;
}

.playstyleContainer .info .item .button {
  display: flex;
  flex-flow: row wrap;
  height: 34px;
  align-items: center;
  background-color: #1b2026;
  padding: 0 5px 0 0;
  border: 1px solid #191e24;
  border-radius: 8px;
  color: #94afd0;
  font-size: 10pt;
  font-weight: 400;
  gap: 5px;
}

.playstyleContainer .info .item .button .key {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-weight: 600;
}

.playstyleContainer .info .item .button .action {
  font-size: 9.6pt;
  padding: 2px 6px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 0.4s ease;
}

.playstyleContainer .info .item .button .action:hover {
  background-color: hsla(213, 39%, 70%, 0.8);
  color: #1b2026;
}

@media screen and (max-width: 450px) {
  .tabletAreaContainer {
    height: 11em;
  }
}
