/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
  z-index: 6;
  background: var(--site-background-users-page-color);
}

/* Track */
::-webkit-scrollbar-track {
  z-index: 6;
  margin-top: 4.2em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--site-secondary-color);
  border-radius: 10px;
  z-index: 6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--site-primary-color);
  z-index: 6;
}
