/* VAR COLORS */
:root {
  --scrollbar-color: hsla(219, 40%, 5%);
  --scrollbar-color-hover: hsla(219, 40%, 4%);
  --navbar-color: hsl(219, 41%, 8%, 0.8);
  --navbar-text-color: #d9e3f0;
  --navbar-text-hover-color: hsl(214, 43%, 95%);
  --navbar-link-active-background-color: hsla(215, 78%, 67%, 0.15);
  --navbar-login-button-hover: hsla(219, 40%, 20%, 0.9);
  --navbar-logout-text-color: #f47373;
  --navbar-logout-text-hover-color: hsl(0, 0%, 100%);
  --navbar-logout-bg-color: hsla(0, 47%, 26%, 0.4);
  --site-background-color: #232931;
  --site-primary-color: #323b46;
  --site-secondary-color: #282f38;
  --site-background-users-page-color: #1c2027;
  --site-colorful-primary-color: #6ba2ed;
  --action-div-color: hsl(219, 40%, 16%);
  --action-div-color2: hsl(219, 40%, 14%);
  --action-div-hover-color: hsl(219, 40%, 18%);

  /* PROGRESS BAR */
  --color-inactive: hsl(219, 40%, 16%);
  --color-gray: hsl(219, 40%, 8%);
  --color-gray-disabled: hsl(219, 40%, 9%);
  --color-active: hsla(219, 40%, 60%, 1);
  --font-size-small: 0.75rem;
  --font-size-default: 0.875rem;

  /* MODS COLORS */
  --mods-nm-text: hsl(226, 99%, 65%);
  --mods-nm-bg: hsla(226, 99%, 65%, 0.2);
  --mods-nm-bg-grid: #263b7e;
  --mods-hd-text: hsl(43, 98%, 60%);
  --mods-hd-bg: hsla(43, 98%, 60%, 0.2);
  --mods-hd-bg-grid: #7d611a;
  --mods-hr-text: hsl(0, 100%, 69%);
  --mods-hr-bg: hsla(0, 100%, 69%, 0.2);
  --mods-hr-bg-grid: #803232;
  --mods-ez-text: hsl(120, 100%, 50%);
  --mods-ez-bg: hsla(120, 100%, 50%, 0.1);
  --mods-ez-bg-grid: #008000;
  --mods-fl-text: hsl(0, 0%, 0%);
  --mods-fl-bg: hsla(0, 0%, 0%, 0.2);
  --mods-fl-bg-grid: hsla(0, 0%, 0%, 0.4);
  --mods-dt-text: hsl(267, 97%, 73%);
  --mods-dt-bg: hsla(267, 97%, 73%, 0.2);
  --mods-dt-bg-grid: #593b7d;
  --mods-fm-text: hsl(101, 38%, 63%);
  --mods-fm-bg: hsla(101, 38%, 63%, 0.2);
  --mods-tb-text: hsl(191, 26%, 57%);
  --mods-tb-bg: hsla(191, 26%, 57%, 0.2);

  /* NOTIFICATIONS COLORS */
  --notification-system-color: hsl(231, 94%, 69%);
  --notification-system-background: linear-gradient(
    90deg,
    hsla(231, 94%, 69%, 0.1),
    hsla(231, 94%, 69%, 0.04)
  );

  /* SOCIALS COLORS */
  --social-twitch-main: #9146ff;
  --social-twitch-secondary: hsla(264, 100%, 68%, 0.5);
  --social-twitch-text: #dec8ff;
  --social-youtube-main: #ff0000;
  --social-youtube-secondary: hsla(358, 100%, 56%, 0.5);
  --social-youtube-text: #ffcccc;
  --social-discord-main: #5865f2;
  --social-discord-secondary: hsla(235, 86%, 65%, 0.5);
  --social-discord-text: #cdd1fb;
  --social-twitter-main: #1d9bf0;
  --social-twitter-secondary: rgba(29, 155, 240, 0.5);
  --social-twitter-text: #bbe1fb;
  --social-github-main: #171515;
  --social-github-secondary: hsla(0, 5%, 9%, 0.5);
  --social-github-text: #b9b9b9;

  /* FONT-FAMILY */
  --font-family-var: Poppins, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  font-family: var(--font-family-var) !important;
  scrollbar-color: var(--scrollbar-color) transparent;
  overflow: hidden auto;
  background-color: var(--site-background-color);
  position: fixed;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: default;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: default;
}

.dimForBG {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.item .header .dimForBG {
  border-radius: 0.7em 0.7em 0 0;
}

/* HOME PAGE */

.homeContent {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 25px;
  flex-flow: column;
  align-items: center;
  padding: 4.2em 0 0 0;
  box-sizing: border-box;
}

.homepageContainer {
  width: 70%;
  display: flex;
  flex-flow: column;
  background-color: var(--site-primary-color);
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 15px 0px var(--site-background-color);
  border-radius: 1em;
  padding: 18px 25px 25px 25px;
  gap: 20px;
  box-sizing: border-box;
}

.homepageContainer .title {
  font-size: 26pt;
  font-weight: 600;
  color: #eee;
  text-align: center;
  user-select: none;
}

.homepageContainer .items {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  gap: 16px;
}

.homepageContainer .items .item {
  border-radius: 0.7em;
  background-color: var(--site-secondary-color);
  user-select: none;
}

.homepageContainer .items .item.users {
  width: 200px;
  height: 150px;
  cursor: pointer;
}

.homepageContainer .items .item.users .header img {
  margin: -40px auto 0 auto;
}

.homepageContainer .items .item.skins {
  width: 275px;
  height: 180px;
}

.homepageContainer .items .item.skins .header img {
  margin: -40px auto 0 auto;
}

.homepageContainer .items .item .header {
  height: 40%;
  border-radius: 0.7em 0.7em 0 0;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

.homepageContainer .items .item .header img {
  width: 60px;
  height: 60px;
  display: flex;
  border-radius: 50vh;
  box-shadow: 0px 2px 15px 1px #1c2025b6;
}

.homepageContainer .items .item .content {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 60%;
  align-items: center;
  justify-content: center;
}

.homepageContainer .items .item .content .name {
  color: #6ba2ed;
  font-weight: 600;
  font-size: 13pt;
  word-break: break-word;
  text-align: center;
  line-height: 16pt;
}

/* ============================ RESPONSIVE ================================== */

/* PHONE */
@media only screen and (max-width: 655px) {
  html,
  body {
    overflow: hidden scroll;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  }

  header .logoNavbar {
    margin: auto;
  }

  header .navbar,
  header .userInfo {
    display: none;
  }

  .mobileNav {
    display: block !important;
  }

  .homeContent {
    padding-top: 6em;
    padding-bottom: 3em;
  }

  .homeContent object {
    display: none;
  }

  .homepageContainer {
    width: 92%;
  }

  .homepageContainer .title {
    font-size: 22pt;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    display: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    display: none;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    display: none;
  }
}
